.chat-container {
  height: 80dvh;
  background: var(--p-content-background);
  color: var(--p-content-color);
}
.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(10) infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
